<div class="mat-headline-3" style="margin-bottom: 20px;">Purge</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.purge [nombre de messages] [ID de l'utilisateur]</div>
<div class="mat-body">La commande purge retire le nombre de message précisé dans la commande, dans le canal textuel où la commande est entrée. <b>Il faut donc faire extrêmement attention à ne pas faire d'erreur de frappe.</b> Le deuxième paramètre de la commande est optionnel, et est utile si vous souhaitez retirer les messages d'un utilisateur uniquement.</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p>.purge 15<br/>.purge 7 266009987354984449</p>
</div>