<div class="mat-headline-3" style="margin-bottom: 20px;">Dm</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.dm [id du membre] [message]</div>
<div class="mat-body">La commande dm permet d'envoyer un message privé à un membre de Rocket League Québec en tant que Robot RLQC. N'a pas vraiment d'utilité dans la mesure où nous n'allons pas recevoir la réponse du membre.</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p>.dm 266009987354984449 Bonjour.</p>
</div>
<br/>
<mat-divider></mat-divider>
<br/>
<div class="mat-headline-3" style="margin-bottom: 20px;">Dm Block, Dm Unblock</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.dm_block [id du membre]
    <br/>.dm_unblock [id du membre]
</div>
<div class="mat-body">La commande dm_block permet de bloquer un membre en tant que Robot RLQC, afin qu'il ne crée plus de billet de support. La commande dm_unblock permet quant à elle de débloquer un membre en tant que Robot RLQC, afin que le membre puisse créer des billets de support à nouveau.</div>
