<div class="mat-headline-3" style="margin-bottom: 20px;">Created</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.created [ID]</div>
<div class="mat-body">La commande created mentionne la date et heure de la création de l'ID utilisé. L'ID peut être un ID de message, de canal textuel ou vocal, de rôle, d'utilisateur ou de serveur discord. La commande created marche pour tous les IDs discord, un ID non relié au serveur de Rocket League Québec va aussi retourner l'information.</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p>.created 266009987354984449</p>
</div>