<div class="mat-headline-3" style="margin-bottom: 20px;">Search</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.search [mot-clé]</div>
<div class="mat-body">La commande search fait une recherche de la table des alias des membres Discord et affiche les résultats de la recherche en incluant l'alias, l'id et la mention du ou des utilisateurs(s) correspondant à la recherche. Cette commande est utile pour trouver rapidement les IDs de certains membres, mais ayant une petite limite au niveau du nombre de résultats pouvant être affichés, il est préférable d'utiliser la fonction de recherche d'alias sur le site internet discord.rlqc.net directement en cas de recherches plus vagues.</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p>.search cappy</p>
</div>