<div class="mat-headline-3" style="margin-bottom: 20px;">Role</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.role [ID du rôle]</div>
<div class="mat-body">La commande role liste les membres ayant le rôle mentionné dans la commande.</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p>.role 221298412782354433</p>
</div>
<br/>
<mat-divider></mat-divider>
<br/>
<div class="mat-headline-3" style="margin-bottom: 20px;">Role Count</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.rolecount [mot]
    <br/>.rolecount ["plusieurs mots"]
</div>
<div class="mat-body">La commande rolecount liste le(s) rôle(s) correspondant au nom recherché et affiche le nom des rôles, ainsi que le nombre de membres ayant ce(s) rôle(s).</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p>.rolecount Rang<br />.rolecount "Rang C"</p>
</div>
<br/>
<mat-divider></mat-divider>
<br/>
<div class="mat-headline-3" style="margin-bottom: 20px;">Role Purge</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.rolepurge [id du rôle]</div>
<div class="mat-body">La commande rolepurge retire le rôle mentionné à tous les membres l'ayant. Toujours s'assurer que vous avez le bon ID dans Discord avant de rouler la commande. Vous pouvez taper "<@&ID du rôle>" dans discord avant votre commande pour voir quel rôle vous avez copié.Si le bon rôle est mentionné, vous pouvez ensuite entrer la commande rolepurge.</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p><@&682052895554011140> = @Rang C (muet)<br/>.rolepurge 682052895554011140</p>
</div>