<div class="mat-headline-3" style="margin-bottom: 20px;">Guild Info</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.g
    <br/>.guild
    <br/>.guildinfo</div>
<div class="mat-body">La commande guildinfo sort la majorité des informations de base du serveur de Rocket League Québec. Le nom, le propriétaire, la région, la date de création, le nombre de membres, le nombre de rôles, le nombre de canaux textuels et le nombre de canaux vocaux seront les informations affichées. Cette commande est surtout utile pour obtenir le total de membres du serveur rapidement et noter la croissance.</div>
