<div class="mat-headline-3" style="margin-bottom: 20px;">Leave</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.u [ID d'un utilisateur]
    <br/>.user [ID d'un utilisateur]</div>
<div class="mat-body">La commande user sort les informations de bases d'un utilisateur Discord. Par défaut, le nom, l'ID Discord, la date de création du compte ainsi que la photo de profil de l'utilisateur vont être affichés. S'il s'agit d'un ancien membre Discord, le nombre de mutes, la plus longue sanction, l'heure de sa dernière action sur le serveur, ses alias, ainsi que les liens utilisés pour rejoindre le Discord seront des informations affichées en plus.</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p>.u 610588271805857816
        <br/>.user 610588271805857816</p>
</div>