<div class="mat-headline-3" style="margin-bottom: 20px;">Status</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.status [statut] [activité] [texte à afficher]</div>
<div class="mat-body">La commande status permet de de modifier le statut du Robot RLQC et d'y ajouter du texte.
    <br/>La liste de statuts possible est online, idle, dnd et invisible.
    <br/>La liste d'activités possible est playing, listening et watching.</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p>.status dnd
        <br/>.status dnd listening RLQC Thème Musical</p>
</div>