<div class="mat-headline-3" style="margin-bottom: 20px;">Mention</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.mention [ID d'un membre]
    <br/>.mention [ID d'un membre] [ID d'un membre] [...]
</div>

<div class="mat-body">La commande mention mentionne le(s) membre(s) listé(s). La commande mention est utile lorsqu'un membre n'est pas dans votre cache discord, ou sur mobile, pour ouvrir le profil d'un membre plus rapidement.</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p>.mention 266009987354984449<br/>.mention 266009987354984449 231917071577907200</p>
</div>