<div class="mat-headline-3" style="margin-bottom: 20px;">Streaming</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.streaming [URL] [texte à afficher]</div>
<div class="mat-body">La commande streaming permet d'accorder le statut "Streaming" au Robot RLQC et d'y ajouter un hyperlien ainsi qu'un message pour promovoir du contenu RLQC.</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p>.streaming https://twitch.tv/rlqc 5ème semaine de la Coupe RLQC
        <br/>.streaming https://www.youtube.com/watch?v=yRwrM6hukGc La chanson thème de Rocket League Québec</p>
</div>