<div class="mat-headline-3" style="margin-bottom: 20px;">Member</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.m [ID d'un membre]
    <br/>.member [ID d'un membre]</div>
<div class="mat-body">La commande member sort la majorité des informations que Rocket League Québec à d'un membre du Discord. Le nom, l'ID Discord, la date de création du compte, la photo de profil, le nombre de mutes, la plus longue sanction, l'heure de sa dernière action sur le serveur, ses alias, ainsi que les liens utilisés pour rejoindre le Discord seront les informations affichées pour le membre mentionné. Cette commande fonctionne uniquement si l'ID utilisateur entré correspond à l'ID d'un membre du serveur Rocket League Québec.</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p>.m 266009987354984449<br/>.member 266009987354984449</p>
</div>