<div class="mat-headline-3" style="margin-bottom: 20px;">Invited By</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.i [ID d'un utilisateur]
    <br/>.invited [ID d'un utilisateur]
    <br/>.invited_by [ID d'un utilisateur]
</div>
<div class="mat-body">La commande invited_by sort la liste des membres invités par l'utilisateur spécifié, l'ID de l'utilisateur invité, la date d'invitation ainsi que le code d'invitation utilisé. Cette commande est surtout utile pour trouver les multicomptes d'un joueur faisant sans cesse des smurfs.</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p>.i 610588271805857816
        <br/>.invited 610588271805857816
        <br/>.invited_by 610588271805857816</p>
</div>