<div class="mat-headline-3" style="margin-bottom: 20px;">Block_id, Unblock_id, Mute_id, Unmute_id</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.block_id [utilisateur] [durée=0] [*raison]
    <br/>.unblock_id [utilisateur] [durée=0] [*raison]
    <br/>.mute_id [utilisateur] [durée=0] [*raison]
    <br/>.unmute_id [utilisateur] [durée=0] [*raison]</div>
<div class="mat-body">La portion blocker bloque un membre pour l'accès aux canaux vocaux dynamiques (n'affecte pas les canaux des 6mans), tandis que la portion muter verrouille l'accès aux canaux vocaux dont le nom débute par 6m. La durée est facultative mais est nécessaire pour spécifier une raison. Une durée de 0 signifie une durée indéterminée. La durée peut être spécifiée en heures (h), en jours (d), en semaines (w), en mois (m) ou en années (y). L'utilisateur sera débloqué automatiquement une fois la durée écoulée. Le rôle sera automatiquement réappliqué si le membre quitte et rejoint à nouveau.</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p>.block 133765272413667328 0 En attente qu'il ouvre un billet de support pour adresser la situation discutée dans le billet X.</p>
</div>