<div class="display-2">Formation</div>
<mat-tab-group>
    <mat-tab label="Fonctionnement de Discord"> 
        <ol>
            <li><a target="_blank" href="https://support.discord.com/hc/en-us/articles/210298617-Markdown-Text-101-Chat-Formatting-Bold-Italic-Underline-">Discord Markdown</a></li>
            <li>
                Les mentions sur Discord<br><br>
                <span>Outre la façon traditionnelle de mentionner un membre, un canal ou un rôle, il est possible de créer une mention grâce à l'ID de l'utilisateur, du canal ou du rôle de la façon suivante:<p></p>
                <pre>&lt;@!id_utilisateur&gt;</pre>
                <pre>&lt;#id_canal&gt;</pre>
                <pre>&lt;@&amp;id_rôle&gt;</pre>
                <p>Exemples:</p>
                <pre>&lt;@!616068602457751553&gt;</pre>
                <pre>&lt;#222427018040573953&gt;</pre>
                <pre>&lt;@&amp;616541496195284992&gt;</pre>
            </span></li>
            <li>La gestion des notifications</li>
            <li>La boîte de réception</li>
        </ol>
    </mat-tab>
    <mat-tab label="Particularités du Discord de RLQC"> Content 2 </mat-tab>
    <mat-tab label="Robot 6mans"> Content 3 </mat-tab>
    <mat-tab label="Robot RLQC"> 
        <span>Consulter la liste des commandes ici: </span>
        <a href="https://discord.rlqc.net/modcmd">https://discord.rlqc.net/modcmd</a>
    </mat-tab>
    <mat-tab label="Enquêtes"> 
        <p>Il existe beaucoup de façons d'attraper les joueurs qui tentent de tricher sur la plateforme des 6mans.</p>
        <p>To be continued.</p>   
    </mat-tab>
</mat-tab-group>