<div class="mat-headline-3" style="margin-bottom: 20px;">React</div>
<div class="mat-h2">Syntaxe:</div>
<div class="mat-h4">.react [id du canal] [id du message] [nom de l'emoji]</div>
<div class="mat-body">La commande react ajoute une réaction standard ou du serveur Rocket League Québec à un message, en tant que Robot RLQC.</div>
<div class="mat-body example-text">Exemple:</div>
<div class="example-div mat-body">
    <p>.react 222427018040573953 900033660567318538 AngryCry
        <br/>.react #staff-commandes 900033660567318538 AngryCry</p>
</div>