<mat-tab-group>
  <mat-tab label="Support"> 
    <div class="container" style="margin-top:1%;margin-left:3%">
      <div class="row">
        <div class="mat-headline-3" style="margin-bottom: 20px;">Support</div>
        <div class="mat-h2">Syntaxe:</div>
        <div class="mat-h4">.support</div>
        <div class="mat-body">Permet d'ouvrir une demande de support auprès du Robot RLQC. Le Robot vous demande ensuite par messagerie privée de décrire la nature de votre problème, après quoi un canal textuel dédié est créé sur RLQC pour qu'un modérateur vienne en aide.</div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Rocket League"></mat-tab>
  <mat-tab label="Misc"></mat-tab>
  <mat-tab label="VC Preset"></mat-tab>
</mat-tab-group>