<div>Historique des noms</div>
<div class="history-form">
  <mat-form-field>
    <input #txtfilter matInput placeholder="Filtrer..." (keyup)="applyfilter(txtfilter.value)">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>
  
    <!-- Discord Column -->
    <ng-container matColumnDef="discord">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Discord ID </th>
      <td mat-cell *matCellDef="let element"> {{element.discord}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Alias </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Timestamp Column -->
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    
</table>
<mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
</div>
