<h1 mat-dialog-title>Billet de Support</h1>
<div mat-dialog-content>
    <div class="msg_history">
        <div class="message" *ngFor="let support of dataSupport">
          <div
            *ngIf="
                support.author_id==dataSupport[0].author_id;
              then incoming_msg;
              else outgoing_msg
            "
          ></div>
          <ng-template #incoming_msg>
            <p>{{ support.name }}</p>
            <div class="incoming_msg">
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{ support.content }}</p>
                </div>
              </div>
              <div *ngIf="support.filename">
                <div *ngIf="support.filetype.includes('image')">
                  <img src="https://{{this.getUrl()}}/img/support/{{support.message_id+'-'+support.filename}}"/>
                </div>
                <div *ngIf="!support.filetype.includes('image')">
                  <a href="https://{{this.getUrl()}}/img/support/{{support.message_id+'-'+support.filename}}">{{support.filename}}</a>
                </div>
              </div>
              <h5>{{support.timestamp | date : 'medium':'GMT'}}</h5>
            </div>
            
          </ng-template>
          <ng-template #outgoing_msg>
            <div class="outgoing_msg">
                <div class="sent_msg">
                    <div class="sent_withd_msg">
                      <p>{{ support.content }}</p>
                    </div>
                  </div>
                  <div *ngIf="support.filename">
                    <div *ngIf="support.filetype == 'image'">
                      <img src="https://{{this.getUrl()}}/img/support/{{support.message_id+'-'+support.filename}}"/>
                    </div>
                    <div *ngIf="support.filetype != 'image'">
                      <a href="https://{{this.getUrl()}}/img/support/{{support.message_id+'-'+support.filename}}">{{support.filename}}</a>
                    </div>
                  </div>
                  <h5>{{support.timestamp | date : 'medium':'GMT'}}</h5>
            </div>
          </ng-template>

        </div>
      </div>
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>

<!-- 
  <div
          *ngIf="
              support.filetype.includes('image');
            then image_msg;
            else file_msg
          "
        ></div>
  <ng-template #image_msg>
  <img src="https://{{this.getUrl()}}/img/support/{{support.message_id+'-'+support.filename}}"/>
</ng-template>
<ng-template #file_msg>
  <a href="https://{{this.getUrl()}}/img/support/{{support.message_id+'-'+support.filename}}"></a>
</ng-template> -->