<mat-toolbar color="primary" id="NavigationBar">
  <mat-toolbar-row>
    <img routerLink="" src="https://discord.rlqc.net/img/logo.svg" alt="" width="29" height="29" class="d-inline-block align-text-top">
    <ul class="nav">
      <li class="nav-item">
        <a mat-button routerLink="cmd" [ngClass]="">Commandes Robot</a>
      </li>
      <ng-container *ngIf="isAdmin">
        <mat-divider [vertical]="true"></mat-divider>
        <li class="nav-item">
          <a mat-button routerLink="vocaux" [ngClass]="">Canaux Vocaux</a>
        </li>
        <mat-divider [vertical]="true"></mat-divider>
        <li class="nav-item">
          <a mat-button [matMenuTriggerFor]="menu">Modération</a>
          <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="namehistory">Historique de noms</a>
            <a mat-menu-item routerLink="memberhistory">Historique des membres</a>
            <mat-divider></mat-divider>
            <a mat-menu-item routerLink="support">Billets de support</a>
            <a mat-menu-item routerLink="messagerotation">Rotation de messages</a>
            <mat-divider></mat-divider>
            <a mat-menu-item routerLink="formation">Formation</a>
            <a mat-menu-item routerLink="modcmd">Commandes Robot</a>
          </mat-menu>
        </li>
      </ng-container>
    </ul>
    <span class="example-spacer"></span>
    <ng-container *ngIf="isAdmin">
      <mat-form-field class="guild-select-form">
        <mat-label>Serveurs</mat-label>
        <mat-select class="guild-select">
          <mat-option (onSelectionChange)="onSelectedGuild($event)">None</mat-option>
          <mat-option (onSelectionChange)="onSelectedGuild($event)" *ngFor="let guild of guildList" [value]="guild">{{guild.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <div
        *ngIf="
            isConnected;
          then disconnect_btn;
          else connect_btn
        "
        ></div>
        <ng-template #connect_btn>
          <a mat-button (click)="onClickLogin()">Connexion</a>
        </ng-template>
        <ng-template #disconnect_btn>
          <a mat-button (click)="onClickLogout()">Déconnexion</a>
        </ng-template>
    
  </mat-toolbar-row>
</mat-toolbar>